.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin-top: 30px;
}

form{
  width: 70vw;
  margin: auto;
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
.inputbox{
  width:70%;
  height: 30px;
}
.submit{
  width: 30%;
  background-color: green;
  color: white;
}

ul{
  margin-top: 12px;
  list-style: none;  
  padding: 0;

}

ul li{
  width: 70vw;
 text-align:left;
 height: 40px;
 color: black;
 margin: auto;
 background-color: yellow;
 margin-top: 12px;
 position: relative;
 font-size: 30px;
}

ul li  span{
position: absolute;
right: 20px;
cursor: pointer;
}

.completetodo{
  text-decoration: line-through;
  color:rgb(4, 4, 10);
}